body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.main-nav {
  height: 4rem;
  width: 100%;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5rem;
}

.leftmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  height: 2rem;
  width: auto;
}

.logo img {
  height: 100%;
}

ul.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.menu li.menu-links {
  padding: .5rem 1.5rem;
  color: #043e90;
  font-size: .8rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 1px;
}

.rightmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logintext {
  color: #043e90;
  font-weight: 900;
  font-size: .8rem;
  text-transform: uppercase;
  margin-left: 1.5rem;
  cursor: pointer;
}

.signinbtn {
  background-color: #043e90;
  color: white;
  font-weight: bold;
  font-size: .8rem;
  text-transform: uppercase;
  padding: .5rem 3rem;
  margin-left: 1.5rem;
  cursor: pointer;
}

.search {
  border: 0;
  outline: 0;
  background-color: transparent;
  width: 4rem;
}

.main-banner {
  width: 100%;
  height: 70vh;
  background-color: #cecfd5;
  position: relative;
}

.top-inner {
  width: 16rem;
  height: 100%;
  background-color: #edeef3;
  position: absolute;
  right: 5rem;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.toptext, .lat {
  font-size: 1.7rem;
  color: #302f2f;
  font-weight: bold;
  margin-bottom: 3rem;
  text-transform: uppercase;
  word-spacing: 2px;
  line-height: 35px;
}

.blue-color {
  color: #043e90 !important;
}

p.sub {
  color: #043e90;
  font-weight: bold;
}

.lat {
  margin-bottom: .2rem;
}

.wrapper {
  width: 100%;
  padding: 3rem 5rem;
}

.pagearrow {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

.pagearrow i {
  background-color: #767676;
  width: 1.5rem;
  height: 1.5rem;
  color: white;
  margin-left: .7rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row.posts {
  margin-bottom: 5rem !important;
}

.fas.fa-chevron-right.current {
  background-color: #043e90 !important;
}

.imagebox {
  width: 100%;
  height: 13rem;
  background-color: #424242;
  position: relative;
  margin-bottom: 1rem;
}

.imagebox img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.imagebox::before {
  content: "\f04b";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  border-radius: 50%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 50%;
  color: #767676;
}

.post-title {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #302f2f;
  font-weight: bold;
}

p.post-snip {
  font-size: .9rem;
  font-weight: 400;
  height: 2.5rem;
  overflow: hidden;
  margin-bottom: .4rem;
}

.pre {
  color: #043e90;
  font-weight: 900;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  font-size: .8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination {
  background-color: #eaeaea;
  width: 100%;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}

.pagi {
  font-weight: bold;
  position: relative;
  font-size: .9rem;
  text-transform: uppercase;
}

.pagi.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  cursor: pointer;
}

.pagi.left::before {
  content: "\f053";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  font-size: 1rem;
  color: #302f2f;
  position: absolute;
  left: -1rem;
}

.pagi.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  cursor: pointer;
}

.pagi.right::before {
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  font-size: 1rem;
  color: #302f2f;
  position: absolute;
  right: -1rem;
}

.numb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.numb li.nu {
  list-style: none;
  padding: 0 2rem;
  color: #302f2f;
  position: relative;
  cursor: pointer;
  font-weight: bold;
}

.numb li.nu.active::before {
  width: 2rem;
  height: 1px;
  background-color: #302f2f;
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -5px);
          transform: translate(-50%, -5px);
}

footer {
  width: 100%;
  background-color: #424242;
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 4rem;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon {
  margin-right: .5rem;
}

.icon i {
  font-size: 1.5rem;
}

.sm {
  font-size: .7rem;
  font-weight: normal;
  color: white;
  margin-bottom: 0;
  text-transform: uppercase;
}

.bg {
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
}

.tops {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

ul.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.links li {
  font-size: .9rem;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0 1rem;
}

ul.links li::after {
  content: "|";
  position: relative;
  margin-left: 2rem;
}

ul.links li:last-child::after {
  content: "";
  margin: 0;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials i {
  color: white;
  font-size: 1.5rem;
  padding: 0 1rem;
  cursor: pointer;
}

p.copy {
  font-size: .9rem;
  text-transform: uppercase;
  text-align: center;
  color: white;
}
/*# sourceMappingURL=style.css.map */